*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    margin:0px;
    padding:0px;
}
#calendar{
    width: 100%;
    height: 50%;
    padding: 0px;
    margin: 0px;
    max-width: 600px;
    min-width: 320px;
}

#controls .next{

}

#controls .month-year{
    width: 77%;
    text-align: center;
    float: none;
}

li.back, li.next {
    width: 10%;
}

ul {
    margin: 0px;
    padding: 0px;
}

ul li {
    list-style: none;
    text-align: center;
    display: inline-block;
}
ul#controls{
    font-weight: bold;
}

ul#controls li{
    display: inline-block;
}

ul li.holiday {
    color: red;
}

ul li.today {
    background-color: #8fc8e9;
    color: #fff;
    border: 1px solid #000;
}

ul li.other {
    color: #999;
}

ul#week_days{
    font-weight: bold;
    background-color: grey;
}

ul#calendar_days{}

#week_days li, #calendar_days li{
    padding: 0%;
    width: 13%;
    padding: 2% 0 2% 0;
}
